[run]
branch = True
data_file = /home/developer/caches/coverage/data_file.db
omit = \
	.git/*
	.github/*
	.local/*
	.venv/*
	dist/*
	src/samurai/*
	tmp/*
relative_files = True
source = oyabun,tests


[report]
exclude_lines =
	@(abc\.)?abstractmethod
	class .*\bProtocol\):
	def __repr__
	if .*\.MODE_DEBUG
	if 0:
	if __name__ == .__main__.:
	pragma: no cover
	raise AssertionError
	raise NotImplementedError
fail_under = 70
skip_covered = False
skip_empty = True
sort = -Cover


[html]
directory = /home/developer/caches/coverage/html/
skip_covered = False
skip_empty = True
title = Oyabun

[xml]
output = /home/developer/caches/coverage/report.xml
