[run]
branch = True
omit = \
    tests/*
relative_files = True
source = consigliere


[report]
fail_under = 50
skip_covered = False
skip_empty = True
sort = -Cover


[html]
skip_covered = False
skip_empty = True
title = Consigliere
