[flake8]
ignore = S101,B101
max_cognitive_complexity = 12
exclude =
    .github
    .mypy_cache
    .pytest_cache
    .run
    .venv
    htmlcov
per-file-ignores =
    consigliere/bot.py:N802
    consigliere/telegram/base.py:E501
    consigliere/telegram/entities.py:E501
    consigliere/telegram/requests.py:E501
